@model List<Customer>


<h1>Customer List</h1>
<table class="table">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Email</td>
    </tr>
    @foreach (var customer in Model)
    {
        <tr>
            <td>
                <a asp-controller="Customer" asp-action="Details" asp-route-id="@customer.Id" class="btn btn-link">@customer.Id</a>
            </td>
            <td>@customer.Name</td>
            <td>@customer.Email</td>
        </tr>
        <tr>
            <td colspan="3"> 
                <form asp-controller="Customer" asp-action="Details" method="get">
                    <input type="hidden" name="id" value="@customer.Id" />
                    <button type="submit" class="btn btn-link">View Details</button>
                </form>
            </td>
        </tr>
    }
</table>








